<!-- This is where the administrator can update artwork, must be logged in -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Edit <%= details.title %></title>
</head>
<body>
    <div class="edit-art">
        <h2>Edit <em><%= details.title %></em> Details</h2>

        <form method="post" action="/edit-art=<%= details._id %>">
            <img src="/images/uploads/<%= details.filename %>" style="height: 300px">

            <div class="center-text"><label for="title">Title</label></div>
            <input type="text" value="<%= details.title %>" name="title">

            <div class="center-text"><label for="artistname">Artist Name</label></div>
            <input type="text" value="<%= details.artistname %>" name="artistname">

            <div class="center-text"><label for="statement">Artist Statement</label></div>
            <textarea name="statement"><%= details.statement %></textarea>

            <div class="center-text"><label for="date">Date of Completion</label></div>
            <input type="text" value="<%= details.date %>" name="date">

            <div class="center-text"><label for="date">Medium</label></div>
            <input type="text" value="<%= details.med %>" name="med">

            <input id="submit" type="submit" value="Save Changes">
        </form>

        <form method="post" action="/delete-art=<%= details._id %>" onsubmit="return confirmDelete(this)">
            <input id="delete" type="submit" value="Delete Artwork">
        </form>

        <script type="text/javascript">
            function confirmDelete(form) {
                if (confirm ('You are about to delete <%= details.title %> by <%= details.artistname %>. This cannot be undone. Are you sure you you with to proceed?')) {
                    return true
                } else {
                    return false
                }
            }
        </script>
    
    </div> 
    
</body>
</html>