<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/galleryUpdate.js"></script>
    <link rel="stylesheet" href="/styles/manageGallery.css">
    <title>Manage Gallery <%= gallery.gallerynum %></title>
</head>
<body>
    <p>Manage Gallery <%= gallery.gallerynum %></p>
    <br>
    <form method="post" action="/manage-gallery=<%= galID %> " id="galleryForm">
        <div id="gallery-data-box">
            <label for="galleryname">Gallery Name: </label>
            <input type="text" name="galleryname" value="<%= gallery.galleryname %>">
            <br>
            <label for="gallerydesc">Gallery Description: </label>
            <textarea name="gallerydesc" cols="50" rows="6"><%= gallery.gallerydesc %> </textarea>
            <p>Gallery Capacity: <%= gallery.gallerycap %> Pieces</p>
            <input type="submit" value="Save Changes">
        </div>
        

        <% var thisArt
        var counter = 0%>
        <% gallery.displaysIDs.forEach(id => { %>
            <% counter++ %>
            <% thisArt = art.find((piece) => piece._id == id) %>
            <div class="location-box">
                <a href="/edit-art=<%= id %>">
                    <p>Location <%= counter %></p>
                    
                    <img class="box-image" src="/images/uploads/<%= thisArt.filename %>" >
                    <input type="hidden" name="name" value="<%= id %>">
                </a>
                <select class="artSelection" name="art_id">
                    <option value="<%= id %>" selected="selected"><%= thisArt.artistname %> - <%= thisArt.title%> </option>
                    <% art.forEach(piece => { %>
                        <option value="<%= piece._id %>"><%= piece.artistname + ' - ' + piece.title %></option>
                    <% }) %>
                </select>
            </div>
            
        <% }) %>
    </form>
</body>
</html>