<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/galleryUpdate.js"></script>
    <link rel="stylesheet" href="/styles/manageGallery.css">
    <title>Manage Gallery <%= gallery.gallerynum %></title>
</head>
<body>
    <div class="gallery">
        <h2>Manage Gallery <%= gallery.gallerynum %></h2>
        <% if (status == "true") { %>
            <p id="statusMessage">Your changes have been saved!</p>
        <% } %>
        
        <form method="post" action="/manage-gallery=<%= galID %>" id="galleryForm">
            <div class="details" id="gallery-data-box">
                <div class="center-text"><label for="galleryname">Gallery Name: </label></div>
                
                <input type="text" name="galleryname" value="<%= gallery.galleryname %>">
                
                <div class="center-text"><label for="gallerydesc">Gallery Description: </label></div>
                <textarea name="gallerydesc" cols="50" rows="6"><%= gallery.gallerydesc %> </textarea>

                <div class="center-text"><p>Gallery Capacity: <%= gallery.gallerycap %> Pieces</p></div>
                <input id="submitButton" type="submit" value="Save Changes">

                <div class="return"><a href="/admin">Return to the Admin Landing Page</a></div>
                <div class="return"><a href="/gallery<%= gallery.gallerynum %>">View your changes live</a></div>
            </div>
            
            <div class="artwork">
                <% var thisArt;
                var counter = 0; %>
                <% gallery.displaysIDs.forEach(id => { %>
                    <% counter++; %>
                    <% thisArt = art.find((piece) => piece._id == id); %>
                    <div class="location-box">
                        <a href="/edit-art=<%= id %>">
                            <p>Location <%= counter %></p>
                            
                            <img class="box-image" src="/get-art/<%= thisArt.filename %>" >
                            <input type="hidden" name="name" value="<%= id %>">
                        </a>
                        <select class="artSelection" name="art_id">
                            <option value="<%= id %>" selected="selected"><%= thisArt.artistname %> - <%= thisArt.title%> </option>
                            <% art.forEach(piece => { %>
                                <option value="<%= piece._id %>"><%= piece.artistname %> - <%= piece.title %></option>
                            <% }); %>
                        </select>
                    </div>
                <% }); %>
                <div class="filling-space"></div>
                <div class="filling-space"></div>
                <div class="filling-space"></div>
            </div>
        </form>
    </div>
</body>
</html>